In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Date functions').getOrCreate()
spark

In [109]:
from pyspark.sql.functions import *

# create sample DataFrame
data = [("2022-03-15", "2022-03-16 12:34:56.789"), 
        ("2022-03-01", "2022-03-16 01:23:45.678")]

df = spark.createDataFrame(data, ["date_col", "date_time_col"])

In [113]:


df1 = df\
    .withColumn("date_col", to_date(col('date_col'), "yyyy-MM-dd")) \
    .withColumn("date_time_col", to_timestamp(col('date_time_col'), "yyyy-MM-dd HH:mm:ss.SSS")) \
    .withColumn("date", date_format(col('date_time_col'), "yyyy-MM-dd")) \
    .withColumn("year", year(col('date'))) \
    .withColumn("month", month(col('date'))) \
    .withColumn("day", dayofmonth(col('date'))) \
    .withColumn("WeekOfYear", weekofyear(col('date'))) \
    .withColumn("DayOfYear", dayofyear(col('date'))) \
    .withColumn("hour", hour(col('date_time_col'))) \
    .withColumn("minutes", minute(col('date_time_col'))) \
    .withColumn("seconds", second(col('date_time_col'))) 

df1.show(truncate = False)

df2 = df\
    .withColumn("date_col", to_date(col('date_col'), "yyyy-MM-dd")) \
    .withColumn("date_time_col", to_timestamp(col('date_time_col'), "yyyy-MM-dd HH:mm:ss.SSS")) \
    .withColumn("Current_date", current_date()) \
    .withColumn("CurrentDateTimestamp", current_timestamp()) \
    .withColumn("Begin_Date_of_month", trunc(col('date_col'), "MM")) \
    .withColumn("Begin_Date_of_Year", trunc(col('date_col'), "yy")) \
    .withColumn('Last_date_of_Month', last_day(col('date_col'))) \
    .withColumn('First_date_of_prev_Month', trunc(add_months(col('date_col'),-1),"MM"))\
    .withColumn('Last_date_of_prev_Month', last_day(add_months(col('date_col'),-1)))\
    .withColumn('First_date_of_next_Month', trunc(add_months(col('date_col'),1),"MM"))\
    .withColumn('Last_date_of_next_Month', last_day(add_months(col('date_col'),1)))   

df2.show(truncate = False)

df3 = df\
    .withColumn("date_col", to_date(col('date_col'), "yyyy-MM-dd")) \
    .withColumn("date_time_col", to_timestamp(col('date_time_col'), "yyyy-MM-dd HH:mm:ss.SSS")) \
    .withColumn("date", date_format(col('date_time_col'), "yyyy-MM-dd")) \
    .withColumn('diff_days', datediff(col('date_col'), col('date_time_col'))) \
    .withColumn('diff_in_months', round(months_between(col('date_col'), col('date_time_col')))) \
    .withColumn('diff_in_years', year(col('date_col')) - year(col('date')))

df3.show(truncate=False)

+----------+-----------------------+----------+----+-----+---+----------+---------+----+-------+-------+
|date_col  |date_time_col          |date      |year|month|day|WeekOfYear|DayOfYear|hour|minutes|seconds|
+----------+-----------------------+----------+----+-----+---+----------+---------+----+-------+-------+
|2022-03-15|2022-03-16 12:34:56.789|2022-03-16|2022|3    |16 |11        |75       |12  |34     |56     |
|2022-03-01|2022-03-16 01:23:45.678|2022-03-16|2022|3    |16 |11        |75       |1   |23     |45     |
+----------+-----------------------+----------+----+-----+---+----------+---------+----+-------+-------+

+----------+-----------------------+------------+--------------------------+-------------------+------------------+------------------+------------------------+-----------------------+------------------------+-----------------------+
|date_col  |date_time_col          |Current_date|CurrentDateTimestamp      |Begin_Date_of_month|Begin_Date_of_Year|Last_date_of_Month|First_date_of_prev_Month|Last_date_of_prev_Month|First_date_of_next_Month|Last_date_of_next_Month|
+----------+-----------------------+------------+--------------------------+-------------------+------------------+------------------+------------------------+-----------------------+------------------------+-----------------------+
|2022-03-15|2022-03-16 12:34:56.789|2024-01-07  |2024-01-07 19:00:35.251595|2022-03-01         |2022-01-01        |2022-03-31        |2022-02-01              |2022-02-28             |2022-04-01              |2022-04-30             |
|2022-03-01|2022-03-16 01:23:45.678|2024-01-07  |2024-01-07 19:00:35.251595|2022-03-01         |2022-01-01        |2022-03-31        |2022-02-01              |2022-02-28             |2022-04-01              |2022-04-30             |
+----------+-----------------------+------------+--------------------------+-------------------+------------------+------------------+------------------------+-----------------------+------------------------+-----------------------+

+----------+-----------------------+----------+---------+--------------+-------------+
|date_col  |date_time_col          |date      |diff_days|diff_in_months|diff_in_years|
+----------+-----------------------+----------+---------+--------------+-------------+
|2022-03-15|2022-03-16 12:34:56.789|2022-03-16|-1       |0.0           |0            |
|2022-03-01|2022-03-16 01:23:45.678|2022-03-16|-15      |0.0           |0            |
+----------+-----------------------+----------+---------+--------------+-------------+