In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder.appName('Random examples').getOrCreate()
spark

In [2]:
from pyspark.sql import functions as F
from pyspark.sql.functions import *
from pyspark.sql.types import StringType
#concat_udf = F.udf(lambda cols: "".join([str(x) if x is not None else "*" for x in cols]), StringType())
rdd = sc.parallelize([[100,30,105,35],[200,55,85,65],[300,20,125,90]])
df = rdd.toDF(['store_id','qty_on_hand_milk','qty_on_hand_bread','qty_on_hand_eggs'])
df.show()

+--------+----------------+-----------------+----------------+
|store_id|qty_on_hand_milk|qty_on_hand_bread|qty_on_hand_eggs|
+--------+----------------+-----------------+----------------+
|     100|              30|              105|              35|
|     200|              55|               85|              65|
|     300|              20|              125|              90|
+--------+----------------+-----------------+----------------+

In [3]:
columns = df.columns
columns

['store_id', 'qty_on_hand_milk', 'qty_on_hand_bread', 'qty_on_hand_eggs']

In [8]:
dfx = []

for val in columns:
        print(val, df[val])

store_id Column<'store_id'>
qty_on_hand_milk Column<'qty_on_hand_milk'>
qty_on_hand_bread Column<'qty_on_hand_bread'>
qty_on_hand_eggs Column<'qty_on_hand_eggs'>

In [9]:
df1 = df.collect()

In [10]:
print(df1)

[Row(store_id=100, qty_on_hand_milk=30, qty_on_hand_bread=105, qty_on_hand_eggs=35), Row(store_id=200, qty_on_hand_milk=55, qty_on_hand_bread=85, qty_on_hand_eggs=65), Row(store_id=300, qty_on_hand_milk=20, qty_on_hand_bread=125, qty_on_hand_eggs=90)]

In [54]:
col = ['qty_on_hand_milk', 'qty_on_hand_bread', 'qty_on_hand_eggs']
rows = ['store_id']
for cols in col:        
    print(row[cols])

TypeError: list indices must be integers or slices, not str

In [ ]:
rdd = df1.rdd.map(lambda x : (str(x.store_id) + ',' + str(x.qty_on_hand_milk)))

rdd_df = rdd.toDF(['concatenated'])

In [50]:
rdd_df.show()

NameError: name 'rdd_df' is not defined

In [23]:
from pyspark.sql import SparkSession

# Assuming you already have a SparkSession created (e.g., 'spark')
spark = SparkSession.builder.appName("MySparkApplication").getOrCreate()

# Your DataFrame
data = [("Alice", 25), ("Bob", 30), ("Charlie", 22)]
df = spark.createDataFrame(data, ["Name", "Age"])

# Your RDD transformation
rdd = df.rdd.map(lambda x: (x.Name + ',' + str(x.Age)))

# Convert RDD to DataFrame
rdd_df = spark.createDataFrame(rdd, ["Concatenated"])
rdd_df.show()

TypeError: Can not infer schema for type: <class 'str'>

In [31]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType

# Assuming you already have a SparkSession created (e.g., 'spark')
spark = SparkSession.builder.appName("MySparkApplication").getOrCreate()

# Your DataFrame
data = [("Alice", 25), ("Bob", 30), ("Charlie", 22)]
df = spark.createDataFrame(data, ["store_id", "qty_on_hand_milk"])

# Your RDD transformation
rdd = df.rdd.map(lambda x: (str(x.store_id) + ',' + str(x.qty_on_hand_milk)))

# Convert RDD to DataFrame with a single column named 'concatenated'
rdd_df = rdd.toDF(["concatenated", 'ff'])
rdd_df.show()

TypeError: Can not infer schema for type: <class 'str'>

In [57]:
from pyspark.sql.functions import first
l =[( 1        ,'A', 10, 'size' ),
( 1        , 'A', 30, 'height' ),
( 1        , 'A', 20, 'weigth' ),
( 2        , 'A', 10, 'size' ),
( 2        , 'A', 30, 'height' ),
( 2        , 'A', 20, 'weigth' ),
( 3        , 'A', 10, 'size' ),
( 3        , 'A', 30, 'height' ),
( 3        , 'A', 20, 'weigth' )]
df = spark.createDataFrame(l, ['id','place', 'value', 'attribute'])
df.show()

+---+-----+-----+---------+
| id|place|value|attribute|
+---+-----+-----+---------+
|  1|    A|   10|     size|
|  1|    A|   30|   height|
|  1|    A|   20|   weigth|
|  2|    A|   10|     size|
|  2|    A|   30|   height|
|  2|    A|   20|   weigth|
|  3|    A|   10|     size|
|  3|    A|   30|   height|
|  3|    A|   20|   weigth|
+---+-----+-----+---------+

+---+-----+------+----+------+
| id|place|height|size|weigth|
+---+-----+------+----+------+
|  2|    A|    30|  10|    20|
|  3|    A|    30|  10|    20|
|  1|    A|    30|  10|    20|
+---+-----+------+----+------+

In [58]:
df.groupBy(df.id, df.place).pivot('attribute').agg(first("value")).show()

+---+-----+------+----+------+
| id|place|height|size|weigth|
+---+-----+------+----+------+
|  2|    A|    30|  10|    20|
|  3|    A|    30|  10|    20|
|  1|    A|    30|  10|    20|
+---+-----+------+----+------+